.body {
	width: 100%;
}
#mainmenu a {	
	vertical-align: middle;
	text-decoration:none;
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 9px 10px;
	text-transform: uppercase;
}
#mainmenu a:hover {
	background-color: #3A5795;
	color: #ffffff;
}
#secmenu a {	
	vertical-align: middle;
	text-decoration:none;
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 9px 10px;
	text-transform: uppercase;
}
#secmenu a:hover {
	background-color: #3A5795;
	color: #ffffff;
}

#secmenu {
	width: 100%;
}
.nav #mainmenu {
	margin-right:0;
	margin-left:0;
	float:center;
	width: 100%;
	border-bottom:1px solid #aeaeae;
}
.nav li {
	position: relative;
	vertical-align: middle;
	display:inline-flex;
	float:center;
}
.nav ul {
	width:90%;
	padding-left:0px;
    margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	position: relative;
	vertical-align: middle;
	float:center;
}
.nav {
	vertical-align: middle;
	float:center;
}
.jumbotron {
	width:100%;
	padding-top: 10px;
	height:170px;
	background-color:#3A5795;
}
.jumbotron sitelogos {
	float:center;
}
	